<section class="benifits">
  <div class="shared__container">
    <div class="benifits__wrap">
      <div class="benifits__row">
        <div class="benifits__item">
          <img class="benifits__item-img" src="./img/icon_1.svg" alt="icon_1" />
          <h4 class="benifits__item-title">Easily Customised</h4>
          <div class="benifits__item-description">
            <p>
              Cras justo odio, dapibus ac facilisis in, egestas eget quam.
              Nullam quis risus eget urna mollis ornare vel eu leo. Donec
              ullamcorper nulla non metus auctor fringilla.
            </p>
          </div>
        </div>

        <div class="benifits__item">
          <img class="benifits__item-img" src="./img/icon_2.svg" alt="icon_2" />
          <h4 class="benifits__item-title">Easily Customised</h4>
          <div class="benifits__item-description">
            <p>
              Cras justo odio, dapibus ac facilisis in, egestas eget quam.
              Nullam quis risus eget urna mollis ornare vel eu leo. Donec
              ullamcorper nulla non metus auctor fringilla.
            </p>
          </div>
        </div>
        <div class="benifits__item">
          <img class="benifits__item-img" src="./img/icon_3.svg" alt="icon_3" />
          <h4 class="benifits__item-title">Easily Customised</h4>
          <div class="benifits__item-description">
            <p>
              Cras justo odio, dapibus ac facilisis in, egestas eget quam.
              Nullam quis risus eget urna mollis ornare vel eu leo. Donec
              ullamcorper nulla non metus auctor fringilla.
            </p>
          </div>
        </div>
      </div>
      <div class="benifits__row">
        <div class="benifits__item">
          <img class="benifits__item-img" src="./img/icon_4.svg" alt="icon_4" />
          <h4 class="benifits__item-title">Easily Customised</h4>
          <div class="benifits__item-description">
            <p>
              Cras justo odio, dapibus ac facilisis in, egestas eget quam.
              Nullam quis risus eget urna mollis ornare vel eu leo. Donec
              ullamcorper nulla non metus auctor fringilla.
            </p>
          </div>
        </div>
        <div class="benifits__item">
          <img class="benifits__item-img" src="./img/icon_5.svg" alt="icon_5" />
          <h4 class="benifits__item-title">Easily Customised</h4>
          <div class="benifits__item-description">
            <p>
              Cras justo odio, dapibus ac facilisis in, egestas eget quam.
              Nullam quis risus eget urna mollis ornare vel eu leo. Donec
              ullamcorper nulla non metus auctor fringilla.
            </p>
          </div>
        </div>
        <div class="benifits__item">
          <img class="benifits__item-img" src="./img/icon_6.svg" alt="icon_6" />
          <h4 class="benifits__item-title">Easily Customised</h4>
          <div class="benifits__item-description">
            <p>
              Cras justo odio, dapibus ac facilisis in, egestas eget quam.
              Nullam quis risus eget urna mollis ornare vel eu leo. Donec
              ullamcorper nulla non metus auctor fringilla.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
