<section class="portfolio">
  <div class="portfolio__list">
    <div class="portfolio__item">
      <a class="portfolio__item-link" href="#" title="work-1">
        <img
          class="portfolio__item-image"
          src="./img/work_1.png"
          alt="work-1"
        />
        <div class="portfolio__item-content">
          <h4 class="portfolio__item-title">Project Name</h4>
          <span class="portfolio__item-description">User Interface Design</span>
        </div>
      </a>
    </div>
    <div class="portfolio__item">
      <a class="portfolio__item-link" href="#" title="work-2">
        <img
          class="portfolio__item-image"
          src="./img/work_2.png"
          alt="work-2"
        />
        <div class="portfolio__item-content">
          <h4 class="portfolio__item-title">Project Name</h4>
          <span class="portfolio__item-description">User Interface Design</span>
        </div>
      </a>
    </div>
    <div class="portfolio__item">
      <a class="portfolio__item-link" href="#" title="work-3">
        <img
          class="portfolio__item-image"
          src="./img/work_3.png"
          alt="work-3"
        />
        <div class="portfolio__item-content">
          <h4 class="portfolio__item-title">Project Name</h4>
          <span class="portfolio__item-description">User Interface Design</span>
        </div>
      </a>
    </div>
    <div class="portfolio__item">
      <a class="portfolio__item-link" href="#" title="work-4">
        <img
          class="portfolio__item-image"
          src="./img/work_4.png"
          alt="work-4"
        />
        <div class="portfolio__item-content">
          <h4 class="portfolio__item-title">Project Name</h4>
          <span class="portfolio__item-description">User Interface Design</span>
        </div>
      </a>
    </div>
    <div class="portfolio__item">
      <a class="portfolio__item-link" href="#" title="work-5">
        <img
          class="portfolio__item-image"
          src="./img/work_5.png"
          alt="work-5"
        />
        <div class="portfolio__item-content">
          <h4 class="portfolio__item-title">Project Name</h4>
          <span class="portfolio__item-description">User Interface Design</span>
        </div>
      </a>
    </div>
    <div class="portfolio__item">
      <a class="portfolio__item-link" href="#" title="work-6">
        <img
          class="portfolio__item-image"
          src="./img/work_6.png"
          alt="work-6"
        />
        <div class="portfolio__item-content">
          <h4 class="portfolio__item-title">Project Name</h4>
          <span class="portfolio__item-description">User Interface Design</span>
        </div>
      </a>
    </div>
    <div class="portfolio__item">
      <a class="portfolio__item-link" href="#" title="work-7">
        <img
          class="portfolio__item-image"
          src="./img/work_7.png"
          alt="work-7"
        />
        <div class="portfolio__item-content">
          <h4 class="portfolio__item-title">Project Name</h4>
          <span class="portfolio__item-description">User Interface Design</span>
        </div>
      </a>
    </div>
    <div class="portfolio__item">
      <a class="portfolio__item-link" href="#" title="work-8">
        <img
          class="portfolio__item-image"
          src="./img/work_8.png"
          alt="work-8"
        />
        <div class="portfolio__item-content">
          <h4 class="portfolio__item-title">Project Name</h4>
          <span class="portfolio__item-description">User Interface Design</span>
        </div>
      </a>
    </div>
  </div>
</section>
