<section class="positions">
  <div class="shared__container">
    <div class="positions__wrap">
      <div class="positions__item">
        <img
          src="./img/person_1.jpg"
          alt="person-woods"
          class="positions__item-image"
        />
        <h4 class="positions__item-name">Ruth woods</h4>
        <span class="positions__item-position">founder, ceo</span>
        <div class="positions__item-description">
          <p>
            Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
            nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam
            eget risus varius blandit sit amet non magna. Nullam quis risus eget
            urna mollis ornare vel eu leo.
          </p>
        </div>
        <ul class="shared__links">
          <li class="shared__link">
            <a href="#" title="facebook"><i class="fab fa-facebook-f"></i></a>
          </li>
          <li class="shared__link">
            <a href="#" title="twitter"><i class="fab fa-twitter"></i></a>
          </li>
          <li class="shared__link">
            <a href="#" title="linkedin"><i class="fab fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
      <div class="positions__item">
        <img
          src="./img/person_2.jpg"
          alt="person-reed"
          class="positions__item-image"
        />
        <h4 class="positions__item-name">Timothy Reed</h4>
        <span class="positions__item-position">co-founder, developer</span>
        <div class="positions__item-description">
          <p>
            Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
            nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam
            eget risus varius blandit sit amet non magna. Nullam quis risus eget
            urna mollis ornare vel eu leo.
          </p>
        </div>
        <ul class="shared__links">
          <li class="shared__link">
            <a href="#" title="facebook"><i class="fab fa-facebook-f"></i></a>
          </li>
          <li class="shared__link">
            <a href="#" title="twitter"><i class="fab fa-twitter"></i></a>
          </li>
          <li class="shared__link">
            <a href="#" title="linkedin"><i class="fab fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
      <div class="positions__item">
        <img
          src="./img/person_3.jpg"
          alt="person-vladez"
          class="positions__item-image"
        />
        <h4 class="positions__item-name">Victoria Vladez</h4>
        <span class="positions__item-position">ui designer</span>
        <div class="positions__item-description">
          <p>
            Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
            nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam
            eget risus varius blandit sit amet non magna. Nullam quis risus eget
            urna mollis ornare vel eu leo.
          </p>
        </div>
        <ul class="shared__links">
          <li class="shared__link">
            <a href="#" title="facebook"><i class="fab fa-facebook-f"></i></a>
          </li>
          <li class="shared__link">
            <a href="#" title="twitter"><i class="fab fa-twitter"></i></a>
          </li>
          <li class="shared__link">
            <a href="#" title="linkedin"><i class="fab fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
      <div class="positions__item">
        <img
          src="./img/person_4.jpg"
          alt="person-little"
          class="positions__item-image"
        />
        <h4 class="positions__item-name">Beverly Little</h4>
        <span class="positions__item-position">data scientist</span>
        <div class="positions__item-description">
          <p>
            Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
            nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam
            eget risus varius blandit sit amet non magna. Nullam quis risus eget
            urna mollis ornare vel eu leo.
          </p>
        </div>
        <ul class="shared__links">
          <li class="shared__link">
            <a href="#" title="facebook"><i class="fab fa-facebook-f"></i></a>
          </li>
          <li class="shared__link">
            <a href="#" title="twitter"><i class="fab fa-twitter"></i></a>
          </li>
          <li class="shared__link">
            <a href="#" title="linkedin"><i class="fab fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
