<header class="header">
  <div class="shared__container">
    <div class="header__contain">
      <div class="header__wrap">
        <div class="header__row">
          <div class="header__logotype">active</div>
          <div class="header__menu"><i class="fas fa-bars"></i></div>
          <nav class="header__nav">
            <ul class="header__links">
              <li class="header__link">
                <a href="#" title="features">features</a>
              </li>
              <li class="header__link"><a href="#" title="works">works</a></li>
              <li class="header__link">
                <a href="#" title="our team">our team</a>
              </li>
              <li class="header__link">
                <a href="#" title="testimonials">testimonials</a>
              </li>
              <li class="header__link">
                <a href="#" title="download">download</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <h1 class="header__title">
        Your Favorite One Page Multi Purpose Template
      </h1>
      <p class="header__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
        commodo cursus magna vel scelerisque nisl consectetur et.
      </p>
      <a class="shared__button" href="#" title="find out">find out more</a>
    </div>
  </div>
</header>
