<footer class="footer">
  <div class="shared__container">
    <div class="footer__wrap">
      <div class="footer__item">
        <h5 class="footer__item-title">Location</h5>
        <p class="footer__item-description">
          3481 Melrose Place Beverly Hills, CA 90210
        </p>
      </div>
      <div class="footer__item">
        <h5 class="footer__item-title">Share with Love</h5>
        <ul class="shared__links">
          <li class="shared__link">
            <a href="#" title="facebook"><i class="fab fa-facebook-f"></i></a>
          </li>
          <li class="shared__link">
            <a href="#" title="twitter"><i class="fab fa-twitter"></i></a>
          </li>
          <li class="shared__link">
            <a href="#" title="linkedin"><i class="fab fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
      <div class="footer__item">
        <h5 class="footer__item-title">About ActiveBox</h5>
        <p class="footer__item-description">
          Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec
          ullamcorper nulla non metus auctor fringilla.
        </p>
      </div>
    </div>
  </div>
  <div class="footer__copyrights">
    <p>
      Copyright © 2015 ActiveBox. All Rights Reserved Made with
      <span>by Kamal Chaneman</span>
    </p>
  </div>
</footer>
