@import "./components/header/header.scss";
@import "./components/benifits/benifits.scss";
@import "./components/portfolio/portfolio.scss";
@import "./components/positions/positions.scss";
@import "./components/slider/slider.scss";
@import "./components/download/download.scss";
@import "./components/footer/footer.scss";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
html {
  font-size: 16px;
}
body {
  min-width: 320px;
}
.shared {
  &__links {
    text-decoration: none;
    list-style: none;
    font-size: 1.12rem;
    display: flex;
    margin: 0 -5px;
  }
  &__container {
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
  }
  &__button {
    background-color: #ff4343;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 900;
    text-decoration: none;
    color: white;
    display: block;
    width: 370px;
    text-align: center;
    margin: 0 auto;
    padding: 26px 0;
    transition: all 0.2s ease;
  }
  &__button:hover {
    background-color: #e71414;
  }
  &__button:active {
    box-shadow: 4px 4px 30px #ff4343;
    background-color: #ff4343;
  }
  &__link {
    margin: 0 5px;
    a {
      color: #c6cbcd;

      padding: 10px 14px;
      border: 1px solid #c6cbcd;
      transition: color 0.3s ease;
      display: block;
    }

    a:hover {
      color: #ff4343;
      border: 1px solid #ff4343;
    }
  }
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 12px;
  }
  .shared__button {
    width: 315px;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }
  .shared__button {
    width: 280px;
    padding: 20px 0;
  }
}
@media screen and (max-width: 320px) {
  .shared__button {
    width: 100%;
  }
}
