<section class="slider multiple-items">
  <div class="slider__wrap">
    <img src="./img/first-slide.jpg" alt="first-slide" />
    <div class="slider__text-area">
      <p>
        “Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
        Donec sed odio dui. Aenean eu leo quam...”
      </p>
      <span>Susan Sims, Interaction Designer at XYZ</span>
    </div>
  </div>
  <div class="slider__wrap">
    <img src="./img/second-slide.jpg" alt="second-slide" />
    <div class="slider__text-area">
      <p>
        “Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
        Donec sed odio dui. Aenean eu leo quam...”
      </p>
      <span>Susan Sims, Interaction Designer at XYZ</span>
    </div>
  </div>
  <div class="slider__wrap">
    <img src="./img/third-slide.jpg" alt="third-slide" />
    <div class="slider__text-area">
      <p>
        “Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
        Donec sed odio dui. Aenean eu leo quam...”
      </p>
      <span>Susan Sims, Interaction Designer at XYZ</span>
    </div>
  </div>
</section>
