.slider {
  max-width: 2500px;
  overflow-x: clip;
  margin: 0 auto;
  &__wrap {
    display: flex !important;
    > * {
      width: 50%;
    }
  }
  &__text-area {
    background: #5c3249;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    p,
    span {
      width: 470px;
    }
    p {
      font-family: "Cardo", serif;
      font-style: italic;
      font-size: 2.25rem;
      margin: 0 15px;
    }
    span {
      margin-top: 20px;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 0.8rem;
      display: block;
    }
  }
}
.slick {
  &-dots {
    position: relative !important;
    bottom: 0 !important;
    margin-top: 25px !important;
    li button:before {
      color: transparent !important;
      border: 1px solid #7e5d6f;
      border-radius: 50%;
      width: 14px !important;
      height: 14px !important;
    }
    li button:before:hover {
      background: #7e5d6f !important;
    }
    li.slick-active button:before {
      background: #7e5d6f !important;
      color: transparent !important;
    }
  }
  &-prev {
    left: 10px !important;
    z-index: 2;
    top: 48% !important;
  }
  &-next {
    right: 10px !important;
    z-index: 2;
    top: 48% !important;
  }
  &-prev:before,
  &-next:before {
    font-size: 30px !important;
    width: 30px !important;
    height: 30px !important;
  }
  &-arrow {
    width: 30px !important;
    height: 28px !important;
  }
}

@media screen and (max-width: 1024px) {
  .slider {
    &__text-area {
      p,
      span {
        width: 330px;
      }
    }
  }
  .slick-dots li button:before {
    width: 10px !important;
    height: 10px !important;
  }
}

@media screen and (max-width: 768px) {
  .slider {
    &__wrap {
      text-align: center;
      flex-wrap: wrap;
      > * {
        width: 100%;
      }
    }
    &__text-area {
      padding: 20px 15px 95px;
      p,
      span {
        width: 100%;
      }
      p {
        margin: 0;
      }
    }
  }
  .slick-arrow {
    display: none !important;
  }
}
